.window {
    font-size: 12px;
}
#zimbra_mail_notifier-status-icon
{
   list-style-image: url("chrome://zimbra_mail_notifier/skin/images/zimbra_mail_notifier_icon.png");
   -moz-image-region: rect(24px 16px 40px 0px);
}

#zimbra_mail_notifier-status-icon[status="1"]
{
    -moz-image-region: rect(24px 32px 40px 16px);
}

#zimbra_mail_notifier-status-icon[status="2"]
{
    -moz-image-region: rect(24px 48px 40px 32px);
}

#zimbra_mail_notifier-toolbar-button {
  list-style-image: url("chrome://zimbra_mail_notifier/skin/images/zimbra_mail_notifier_icon.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

toolbar #zimbra_mail_notifier-toolbar-button {
  -moz-binding: url('chrome://zimbra_mail_notifier/content/overlay.xml#zimbra_mail_notifier-toolbarbutton');
}

toolbar #zimbra_mail_notifier-toolbar-button[status="1"]{
  -moz-image-region: rect(0px 48px 24px 24px);
}

toolbar #zimbra_mail_notifier-toolbar-button[status="2"]{
  -moz-image-region: rect(0px 72px 24px 48px);
}

toolbar[iconsize="small"] #zimbra_mail_notifier-toolbar-button{
  -moz-image-region: rect(24px 16px 40px 0px);
}

toolbar[iconsize="small"] #zimbra_mail_notifier-toolbar-button[status="1"]{
  -moz-image-region: rect(24px 32px 40px 16px);
}

toolbar[iconsize="small"] #zimbra_mail_notifier-toolbar-button[status="2"]{
  -moz-image-region: rect(24px 48px 40px 32px);
}

toolbar #zimbra_mail_notifier-toolbar-button-label{
    padding: 0px;
    margin:0px 0px -3px -2px;
    text-align:left;
    color:#3300FF;
    font-weight:bold;
    font-size:12px;
    text-shadow: -1px -1px #CCC, 1px -1px #CCC;
}

toolbar[iconsize="small"] #zimbra_mail_notifier-toolbar-button-label{
 font-size:11px;
}

#zimbra_mail_notifier-mainConnect,#zimbra_mail_notifier-mainToolsConnect
{
   list-style-image: url("chrome://zimbra_mail_notifier/skin/images/zimbra_mail_notifier_button.png");
   -moz-image-region: rect(0px 16px 16px 0px);
}

#zimbra_mail_notifier-mainDisconnect,#zimbra_mail_notifier-mainToolsDisconnect
{
   list-style-image: url("chrome://zimbra_mail_notifier/skin/images/zimbra_mail_notifier_button.png");
   -moz-image-region: rect(0px 32px 16px 16px);
}

#zimbra_mail_notifier-mainToolsCheckNow, #zimbra_mail_notifier-mainCheckNow
{
   list-style-image: url("chrome://zimbra_mail_notifier/skin/images/zimbra_mail_notifier_button.png");
   -moz-image-region: rect(0px 80px 16px 64px);
}

#zimbra_mail_notifier-mainToolsOption, #zimbra_mail_notifier-mainOption
{
   list-style-image: url("chrome://zimbra_mail_notifier/skin/images/zimbra_mail_notifier_button.png");
   -moz-image-region: rect(0px 64px 16px 48px);
}

#zimbra_mail_notifier-mainToolsAbout, #zimbra_mail_notifier-mainAbout
{
   list-style-image: url("chrome://zimbra_mail_notifier/skin/images/zimbra_mail_notifier_button.png");
   -moz-image-region: rect(0px 48px 16px 32px);
}

#zimbra_mail_notifier-serverError {
    font-size: 11px;
    font-weight: bold;
    color: red;
}

#zimbra_mail_notifier_tooltipCalendar,#zimbra_mail_notifier_tooltipTask
{
    margin:0px 6px;
    width: 250px;
}

#zimbra_mail_notifier_tooltipMessage
{
    margin:0px 6px;
    width: 190px;
}

#zimbra_mail_notifier_tooltipMessage {
    font-size: 11px;
}

.eventLabelDate{
    color: green;
    font-size: 11px;
}

.eventLabelDesc{
    font-size: 11px;
    padding-left:15px;
}

.taskLabelPriority{
    color: red;
    font-size: 11px;
}

.taskLabelPriority[status="5"]{
    color: green;
}

.taskLabelPriority[status="9"]{
    color: blue;
}

.taskLabelDesc{
    padding-left:15px;
    font-size: 11px;
}

.taskLabelPurcent{
    font-size: 11px;
}
